node_modules
build
dist
.env
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.git
.gitignore
.dockerignore
Dockerfile
Dockerfile.dev
README.md
.eslintcache
coverage
.vscode
.idea
*.swp
*.swo
*~